.row {
  margin-bottom: 40px;
}

/* Isabella CSS */
.izzy-btn {
  background: linear-gradient(to right, #355c7d 0%, #fceeb5 50%, #c06c84 100%);
  background-size: 500%;
  border: none;
  box-shadow: 0 0.5rem 1rem #dee1e4;
  color: white;
  cursor: pointer;
  outline: none;
}

.izzy-btn:hover {
  animation: izzy-gradient;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: white;
}

.izzy-btn:active {
  background: #c06c84;
}

@keyframes izzy-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

/* ivan css */
.card-body1{
    background-color: rgba(20, 27, 27, 0.288);
}
.card-title1{
    text-align: center;   
}
.card-body1:hover{
    background-color:rgba(0, 0, 0, 0.952);
    color: rgb(247, 240, 240);
}
a{
    width: 100%;
}

#bold{
    border: 15px solid #000000;
    border-style: groove;
}

.card-text-moon{
    color: #a6a6a6;
}

.card-me:hover {
    border-color: rgb(13, 110, 253);
    box-shadow: 0px 0px 17px 5px rgb(13, 110, 253);
    box-shadow: linear-gradient(45deg, #ff006e, #6d00ff);
    position: relative;
    animation: rotate 4s infinite ease-in-out;
  }

.card-self{
    background-color: rgb(156, 204, 231);

}
/* Kendall's CSS */
.card-titlek{
  color: springgreen;
}
.card-textk{
color: springgreen;
}
.kenny-btn{
  color: springgreen;
  border: white;
}
.kenny-btn:hover{
  border-color: white;
  color: rgb(255, 255, 255);
}
/* End of Kendall's CSS */


