.row{
    margin-bottom: 40px;
}

.card-text-moon{
    color: #a6a6a6;

.card-me:hover {
    border-color: rgb(13, 110, 253);
    box-shadow: 0px 0px 17px 5px rgb(13, 110, 253);
    box-shadow: linear-gradient(45deg, #ff006e, #6d00ff);
    position: relative;
    animation: rotate 4s infinite ease-in-out;
  }

.card-self{
    background-color: rgb(156, 204, 231);
}