body{
    color: white;
background: hsla(230, 59%, 25%, 1);
background: linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1A2766", endColorstr="#AE1B1E", GradientType=1 );
}

.big-logo{
    position: absolute;
    top: 0;
   
}
/* Nav bar Css  */
nav{
}
#nav-ol{
    display: flex;
    justify-content: right;
    
}
.nav-li{
    padding-right:3rem;
}

/* Social media Links */
.social-ul{
    list-style-type: none;
    z-index: 100;
    position: fixed;
    margin-top: 70vh;
    
}
.fa-brands, .fa-solid {
    color: rgb(245, 245, 245);
    font-size: 1.5em;
    padding-bottom: 15px;
  }
/* about me section */
#about{
    display: flex;
    justify-content: center;
}

/* Skills CSS */
.skills-container{
    margin-top: 15rem;
}
.skills-ul{
    display: flex;
    justify-content: space-evenly;
}


/* Footer cSS */
.foot{
    margin-top: 100%
}
.foot-description{
    display: flex;
    justify-content: center;
    font-size: 1.4em;
}
.foot-img{
    display: flex;
    justify-content: space-between;
}
#footer-logo{
    width: 9em;
}